.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.heading-container {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.right-controls {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.connection-container {
    display: flex;
    align-items: center;
}

.connection-status {
    margin-left: 1em;
}

.connection-circle {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 1em;
}

#reset-button {
    font-size: 1.1em;
    padding: 0.2em 0.6em;
}

.file-create-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.35em 0.8em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #ffffff;
    background-color: #0f0f0f69; 
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: border-color 0.25s, background-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.file-create-button:hover {
    background-color: #0f0f0f90;
}
 
.file-create-button:active {
    background-color: #0f0f0fbb;
}
 

.graph-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 60px;
    bottom: 2em;
    left: 1.5em;
    right: 1.5em;
    gap: 20px;
}

.graph {
    flex: 1;
    width: 100%;
    min-height: 0;
    position: relative;
}

.graph canvas {
    width: 100% !important;
    height: 100% !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}
